.register-container {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  margin-top: 150px;
}

.register-container input[type="text"],
.register-container input[type="password"] {
    width: 50%;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.register-container button {
  font-size: 14px;
  color: black;
  background-color: aquamarine;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

.register-container button:hover {
  background-color: lightblue;
}